{% extends "otree/BaseAdmin.html" %}

{% block title %}
    Export data from sessions
{% endblock %}

{% block content %}

    {% if sessions %}

        <table class="table table-hover table-striped table-resonsive">
            <thead>
            <th>Session code</th>
            <th>Config name</th>
            <th>Number of participants</th>
            <th>Demo</th>
            <th>For mTurk</th>

            <th colspan="2">JSON</th>
            </thead>
            <tbody>
            {% for s in sessions %}
                <tr>
                    <td>{{ s.code }}</td>
                    <td>{{ s.config.display_name }}</td>
                    <td>{{ s.num_participants }}</td>
                    <td>
                        <strong>{{ s.is_demo|yesno:'Yes, No' }}</strong>

                    </td>
                    <td>
                        <strong>{{ s.is_for_mturk|yesno:'Yes, No' }}</strong>


                    </td>
                    <td><a href="{% url 'empty_json'  session_code=s.code %}">View and download</a></td>
                <td><a href="{% url 'json_export'  session_code=s.code %}">Download</a></td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No sessions have taken place yet.
    {% endif %}
{% endblock %}

{% block internal_styles %}
    {{ block.super }}
    <style>
        .red {
            color: red
        }

        .green {
            color: green
        }
    </style>
{% endblock %}
